.gcp {
    left: px;
    top: px;
    font-size: 30px;
}

.svelte {
    left: px;
    top: px;
    font-size: px;
}

.reactnative {
    left: px;
    top: px;
    font-size: px;
}

.php {
    left: px;
    top: px;
    font-size: px;
}

.typescript {
    left: px;
    top: px;
    font-size: px;
}

.firebase {
    left: px;
    top: px;
    font-size: px;
}

.firestore {
    left: px;
    top: px;
    font-size: px;
}

.sql {
    left: px;
    top: px;
    font-size: px;
}

.expressjs {
    left: px;
    top: px;
    font-size: px;
}

.java {
    left: px;
    top: px;
    font-size: px;
}

.go {
    left: px;
    top: px;
    font-size: px;
}

.ajax {
    left: px;
    top: px;
    font-size: px;
}

.json {
    left: px;
    top: px;
    font-size: px;
}

.restapi {
    left: px;
    top: px;
    font-size: px;
}

.svg {
    left: px;
    top: px;
    font-size: px;
}

.xml {
    left: px;
    top: px;
    font-size: px;
}

.electron {
    left: px;
    top: px;
    font-size: px;
}

.git {
    left: px;
    top: px;
    font-size: px;
}

.jquery {
    left: px;
    top: px;
    font-size: px;
}

.python {
    left: px;
    top: px;
    font-size: px;
}

.cs {
    left: px;
    top: px;
    font-size: px;
}

.nodejs {
    left: px;
    top: px;
    font-size: px;
}

.html {
    left: px;
    top: px;
    font-size: px;
}

.tailwind {
    left: px;
    top: px;
    font-size: px;
}

.bootstrap {
    left: px;
    top: px;
    font-size: px;
}

.docker {
    left: px;
    top: px;
    font-size: px;
}

.css {
    left: px;
    top: px;
    font-size: px;
}

.scss {
    left: px;
    top: px;
    font-size: px;
}

.vue {
    left: px;
    top: px;
    font-size: px;
}

.react {
    left: px;
    top: px;
    font-size: px;
}

.javascript {
    left: px;
    top: px;
    font-size: px;
}

