body {
    margin: 0px;
}

.sidenav {
    width: 70px;
    height: 100vh;
    background: rgb(58, 58, 58);
    position: absolute;

}

.icon_container {
    width: 55px;
    height: 55px;
    margin: 7.5px;
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
}

.icon_container:nth-child(2) {
    bottom: 70px;
}

.icon_container:hover {
    background: rgba(0,0,0,0.1)
}

.icon_class {
    color: white;
    margin-left: 7.5px;
    margin-top: 7.5px;
    position: absolute;
}