@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0px;
    height: 2000px;
    overflow-x: hidden;
}

.sidenav {
    width: 70px;
    height: 100vh;
    background: rgb(58, 58, 58);
    position: fixed;
    z-index: 500;
}

.icon_container {
    width: 55px;
    height: 55px;
    margin: 7.5px;
    border-radius: 15px;
    position: fixed;
    bottom: 0px;
    cursor: pointer;
    
}

.icon_container:nth-child(2) {
    bottom: 70px;
}
.icon_container:nth-child(3) {
    bottom: calc(70px * 2);
}
.icon_container:nth-child(4) {
    bottom: calc(70px * 3);
}
.icon_container:nth-child(5) {
    bottom: calc(70px * 4);
}

.icon_container:hover {
    background: rgba(0,0,0,0.1)
}

.icon_class {
    color: white;
    margin-left: 7.5px;
    margin-top: 7.5px;
    position: fixed;
}

main {
    height: 100vh;
    width: calc(100vw - 70px);
    position: absolute;
    margin-left: 70px;
    background:rgb(255, 255, 255);
}

.hello {
    font-family: 'Poppins', sans-serif;
    color: rgb(28, 28, 28);
    margin-left: 15%;
    margin-top: 140px;
    font-size: 80px;
    line-height: 93px;
    margin-bottom: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.profs {
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 156, 58);
    margin-left: 15%;
    margin-top: 0px;
    font-size: 32px;
    line-height: 93px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    opacity: 0;  
    transition: opacity 1s linear;
   /* filter: blur(5px);
    transform: translateX(-100%);*/

}


/*@media(prefers-reduced-motion) {
    .profs {
        transition: none;
    }
}*/

.show {
    opacity: 1;
    /*filter: blur(0);
    transform: translateX(0);*/
}