@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0px;
    height: 2000px;
    overflow-x: hidden;
}

.sidenav {
    width: 70px;
    height: 100vh;
    background: rgb(58, 58, 58);
    background: rgb(14, 14, 14);
    position: fixed;
    z-index: 500;
}

.icon_container {
    width: 55px;
    height: 55px;
    margin: 7.5px;
    border-radius: 15px;
    position: fixed;
    bottom: 0px;
    cursor: pointer;
    
}

.icon_container:nth-child(2) {
    bottom: 70px;
}
.icon_container:nth-child(3) {
    bottom: calc(70px * 2);
}
.icon_container:nth-child(4) {
    bottom: calc(70px * 3);
}
.icon_container:nth-child(5) {
    bottom: calc(70px * 4);
}

.icon_container:hover {
    background: rgba(0,0,0,0.1)
}

.icon_class {
    color: white;
    margin-left: 7.5px;
    margin-top: 7.5px;
    position: fixed;
}

main {
    width: calc(100vw - 70px);
    position: absolute;
    margin-left: 70px;
    background:rgb(255, 255, 255);
}

.hello {
    font-family: 'Poppins', sans-serif;
    color: rgb(28, 28, 28);
    color: white;
    margin-left: 13%;
    margin-top: 240px;
    font-size: 80px;
    line-height: 93px;
    margin-bottom: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: inline-block;
}

.profs {
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 156, 58);
    margin-left: 13%;
    margin-top: 0px;
    font-size: 32px;
    line-height: 93px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
   /* filter: blur(5px);
    transform: translateX(-100%);*/
    display: inline-block;

}

br {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


/*@media(prefers-reduced-motion) {
    .profs {
        transition: none;
    }
}*/


.section {
    width: calc(100vw - 70px);
    min-height: 100vh;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: rgb(28, 28, 28);
    margin-left: 15%;
    margin-top: 140px;
    font-size: 50px;
    margin-bottom: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    position: relative;
}

.fade {
    opacity: 0;  
}

.show {
    opacity: 1;
    transition: opacity 1.4s linear;
    /*filter: blur(0);
    transform: translateX(0);*/
}

.projects_folder {
    margin-left: 15%;
    margin-top: 14px;
}

.project {
    width: 320px;
    height: 320px;
    background: rgb(23, 23, 23);
    transition: height 0.1s linear, width 0.1s linear, transform 0.1s linear, opacity 1.4s linear, margin-right 0.1s linear, margin-bottom 0.1s linear;
    float: left;
    margin-right: 30px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.project:hover {
    /*width: 325px;
    height: 325px;
    transform: translate(-2.5px,-2.5px);*/
}

.project p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-left: 10px;
}

.fireworks {
    position: absolute;
    top: 0px;
}

.tech {
    width: 320px;
    height: 380px;
    background: url("https://www.freecodecamp.org/news/content/images/2020/01/js-image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 25px;
}

.tech > div > h2 {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 600;
    margin-left: 10px;
    position: absolute;
    margin-top: 120px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: margin-top 0.2s linear;
}
.tech > div > p {
    color: rgb(207, 207, 207);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
    margin-top: 65px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: opacity 0.5s linear;
    opacity: 0;
}

.tech > div {
    width: 320px;
    height: 180px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.0) 100%);;
    margin-top: 200px;
    position:absolute;

}

.tech:hover > div > h2 {
    margin-top: 32px;
}

.tech:hover > div > p {
    opacity: 1;
}

.bottom {
    width: calc(100vw - 70px);
    height: 330px;
    background: rgb(24, 24, 24);
    margin-top: 600px;
}

.copyright {
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.line {
    width: 70%;
    margin-left: 15%;
    height: 2px;
    background: rgba(61, 61, 61, 0.6);
    margin-top: 20px;
}

.bottom_con {
   top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin-left: 17.5%;
}

.bottom_con > p, .bottom_con > a > p {
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    margin-top: 100px;
    text-decoration: none;
}

a {
    text-decoration: none;  
}

.tech_folder {
    display: flex;
    margin-left: 15%;
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 30px;
    flex-flow: row wrap;
}